[submodule "2024fa"]
	path = 2024fa
	url = git@github.com:CS203UCR/2024fa.git
	branch = main
[submodule "2024fa-cs203-hello-SJZHZ"]
	path = 2024fa-cs203-hello-SJZHZ
	url = git@github.com:CS203UCR/2024fa-cs203-hello-SJZHZ.git
	branch = main
[submodule "2024fa-cs203-performance-SJZHZ"]
	path = 2024fa-cs203-performance-SJZHZ
	url = git@github.com:CS203UCR/2024fa-cs203-performance-SJZHZ.git
	branch = main
[submodule "2024fa-cs203-memory-1-SJZHZ"]
	path = 2024fa-cs203-memory-1-SJZHZ
	url = git@github.com:CS203UCR/2024fa-cs203-memory-1-SJZHZ.git
[submodule "2024fa-cs203-markov-SJZHZ"]
	path = 2024fa-cs203-markov-SJZHZ
	url = git@github.com:CS203UCR/2024fa-cs203-markov-SJZHZ.git
[submodule "2024fa-cs203-memory-2-SJZHZ"]
	path = 2024fa-cs203-memory-2-SJZHZ
	url = git@github.com:CS203UCR/2024fa-cs203-memory-2-SJZHZ.git
[submodule "2024fa-cs203-processor-SJZHZ"]
	path = 2024fa-cs203-processor-SJZHZ
	url = git@github.com:CS203UCR/2024fa-cs203-processor-SJZHZ.git
